---
import '../../../src/style/index.css'
---
<body>
<section class="w-full text-center h-[100vh] flex items-center justify-center">
    <div class="text-center flex flex-col items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="green" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
        <h3 class="mt-4"> Authenticated successfull</h3>
        <p class="text-sm">Open the Potatoe squeezy entention</p>
    </div>
</section>
</body>
