---
import '../../../src/style/index.css';
import React from 'react';
import DefaultButton from "../../components/button";
---

<html>
<head>
    <title>Authentication Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<section class="w-full text-center h-[100vh] flex items-center justify-center">
    <div class="text-center flex flex-col items-center">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="64"
                height="64"
                viewBox="0 0 24 24"
                fill="none"
                stroke="green"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-check"
        >
            <circle cx="12" cy="12" r="10" />
            <path d="m9 12 2 2 4-4" />
        </svg>
        <h3 class="mt-4">Authenticated Successfully</h3>
        <p class="text-sm">Open the Potatoe Squeezy extension</p>
        <DefaultButton>Continue</DefaultButton>
    </div>
</section>
<script>
    if (typeof window !== "undefined") {
        const hash = window.location.hash;
        const params = new URLSearchParams(hash?.substring(1));
        const accessToken = params?.get("access_token");

        if (accessToken) {
            localStorage.setItem("access_token", accessToken);
            document.cookie = `access_token=${accessToken}; path=/;`;
        } else {
            console.error("Access Token not found in URL.");
        }
    }
</script>
</body>
</html>
