---
import '../../style/index.css';
import DefaultDashboard from "../../layout/dashboard";
import UsersPage from "../../components/pages/usersPage";
---
<meta name="viewport" content="width=device-width" />
<section class="dashboard ">
    <DefaultDashboard client:load>
        <UsersPage client:load />
    </DefaultDashboard>
</section>
