---
import '../../style/index.css';
import DefaultDashboard from "../../layout/dashboard";
---

<section class="dashboard ">
    <DefaultDashboard client:load>
        lorem
    </DefaultDashboard>
</section>
