---
import '../../style/index.css';
import DefaultDashboard from "../../layout/dashboard";
import UsersPage from "../../components/pages/usersPage";
---

<section class="dashboard ">
    <DefaultDashboard client:load>
        <UsersPage client:load />
    </DefaultDashboard>
</section>
