---
import '../../src/style/index.css'
import Nav from "../components/header/nav.astro";
import Hero from "../components/sections/hero.astro";

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title> 🥔 Potatoe Squeezy</title>
  </head>
  <body >

    <Hero/>
  </body>
</html>
