---
import '../../../style/index.css'
 import DefaultDashboard from "../../../layout/dashboard";
import UserProfileCard from "../../../components/pages/profile/userProfileCard";


export async function getStaticPaths () {
       return [{
           params: {
               profile: 'user'
           }
       }]

   }

   const { params } = Astro.props;
---
<meta name="viewport" content="width=device-width" />
<meta charset="UTF-8">
<div>
    <DefaultDashboard  >
        <UserProfileCard client:load/>
    </DefaultDashboard>
</div>
